# binary artifacts
*.o
*.obj
*.exe
*.out
*.so
*.dll

# build artifacts
build/
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
Testing/

# IDE artifacts
.idea/

# backup artifacts
*~

# todo list
TODO.txt
