# binary artifacts
*.o
*.obj
*.exe
*.out
*.so
*.dll

# build artifacts
build/
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
Testing/
site/
Doxyfile
doc_to_fetch_links_tmp/
/parser.tab.c
/parser.tab.h
/parser.output
/parser.tab.*

# IDE artifacts
.idea/

# backup artifacts
*~

# draft
draft/
